<html>
    <head>
        <title>Sudo data entry</title>
    </head>
    <body>
        <h1>Enter sudoku data entry points</h1>
        <form>
            <input class="datapoint" type="text" id="c0_0" name="c0_0" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c0_1" name="c0_1" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c0_2" name="c0_2" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c0_3" name="c0_3" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c0_4" name="c0_4" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c0_5" name="c0_5" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c0_6" name="c0_6" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c0_7" name="c0_7" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c0_8" name="c0_8" maxlength="1" size="1"><br><br>

            <input class="datapoint" type="text" id="c1_0" name="c1_0" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c1_1" name="c1_1" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c1_2" name="c1_2" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c1_3" name="c1_3" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c1_4" name="c1_4" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c1_5" name="c1_5" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c1_6" name="c1_6" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c1_7" name="c1_7" maxlength="1" size="1">
            <input class="datapoint" type="text" id="c1_8" name="c1_8" maxlength="1" size="1"><br><br>
            
            <button type="submit">Submit</button>
        </form>
    </body>
</html>